.mtcb {
  background: #f9f9f9;
}
.mtcb_box {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 120px;
  justify-content: space-around;
  border: 1px solid #e8e8e8;
  background: white;
  margin: 1px 3px 1px 1px;
}
.mtcb_box_top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
}
.mtcb_box_top_cg {
  display: inline-block;
  border-radius: 4px;
  background: #2591fe;
  padding: 2px;
  width: 20px;
  height: 20px;
  line-height: 10px;
  margin-right: 5%;
}
.mtcb_box_top_jg {
  display: inline-block;
  border-radius: 4px;
  background: #2591fe;
  padding: 2px;
  width: 20px;
  height: 20px;
  line-height: 10px;
  margin-right: 5%;
}
.mtcb_box_cen {
  font-size: 20px;
  text-align: center;
  color: #1890ff;
}
.mtcb_box_bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}
.mtcb_box_bot_up > span {
  background: #3bb64f;
  padding: 1px 3px;
  margin: 0 2px;
  color: white;
}
.mtcb_box_bot_up:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 8px solid #3bb64f;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.mtcb_box_bot_down > span {
  background: #ed4d3f;
  padding: 1px 3px;
  margin: 0 4px;
  color: white;
}
.mtcb_box_bot_down:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid #ed4d3f;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.mc {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
