.boxS {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
}
.cb_sp {
  color: black;
  max-height: 25px;
  height: 25px;
  line-height: 25px;
  background: #fff;
}
.cb_sp::before {
  content: '';
  border-left: 4px solid #1891ff;
  margin: 0 12px;
}
.cb_cb {
  width: 100%;
  height: 250px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-around;
}
.cb_cb_box {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 120px;
  justify-content: space-around;
  border: 2px solid #e8e8e8;
  background: white;
  text-align: center;
  border-radius: 6px;
}
.cb_cb_box_name {
  padding: 0px 20px;
  font-weight: 900;
  font-size: 16px;
}
.cb_cb_box_num {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.cb_cb_box_num > :nth-of-type(1n) {
  color: #ed4d3f;
  position: relative;
  right: 5px;
}
.cb_cb_box_num > :nth-of-type(2n) {
  color: #1890ff;
  position: relative;
  right: 5px;
}
.cb_cb > :nth-of-type(2n) {
  position: relative;
  right: 2px;
}
