.tabBar {
  height: 100%;
  width: 100%;
  background: #f9f9f9;
}
.tabBar_bar {
  position: absolute;
  top: 44px;
  height: 40px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #f1f1f1;
}
.tabBar_bar_box {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.tabContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 42px;
  overflow: auto;
}
.tdsbqk {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  background: white;
  font-weight: 400;
}
.tdsbqk thead {
  color: #46a6ff;
}
.tdsbqk thead td {
  border: 1px solid #f1f1f1;
  padding: 10px 0;
  text-align: center;
}
.zntj_glx {
  height: 5px;
  border: 1px solid #ebebeb;
  background: #ebebeb;
}
.zntj_dc {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  background: #fff;
}
