.yj {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.yjbox {
  display: flex;
  flex-direction: row;
  width: 48%;
  background: #fff;
  margin: 3px;
  height: 100px;
  border: 1px solid #e8e8e8;
  justify-content: space-around;
}
.yjbox_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 15px;
  width: 100%;
}
.yjbox_right_top {
  display: flex;
  font-size: 15px;
  width: 100%;
  color: #FE6668;
}
.yjbox_right_top_yj {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 10px;
  margin-right: 5%;
}
.yjbox_right_top_bj {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 10px;
  margin-right: 5%;
}
.yjbox_right_name_yj {
  color: #ff9800;
}
.yjbox_right_name_bj {
  color: #FE6668;
}
.yjbox_right_cen {
  font-size: 25px;
  text-align: center;
}
.yjbox_right_cen_yj {
  width: 100%;
  text-align: center;
  margin-left: -15px;
  color: #ff9800;
}
.yjbox_right_cen_bj {
  width: 100%;
  text-align: center;
  margin-left: -15px;
  color: #FE6668;
}
.yjbox_right_bot {
  font-size: 13px;
  color: #000;
}
